<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock price predict</title>
    <link rel="icon" type="image/png" href="/static/img/icon.png"/>
    <link rel="stylesheet" href="/static/css/grid.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="body">
    <section id="app">
        <div class="container">
            <div class="row">
                <main-card
                    v-for="(company, index) in companies"
                    v-bind:key="index"
                    v-bind:company="company">
                </main-card>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>